* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  color: #fff;
}

.red-text {
  color: red;
}

.orange-text {
  color: #faac37;
}

nav {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 20px;
  color: #fff;
}

.nav-logo-container {
  text-align: center;
  /* border: 1px solid; */
}

.nav-link-container h4 {
}

.nav-logo-container h4 {
  background-color: #000;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
}

.nav-link-container {
  display: flex;
  align-items: center;
  text-align: center;
  /* border: 1px solid; */
}

.nav-link a {
  text-decoration: none;
}

.nav-link a h4 {
  font-size: 15px;
  font-weight: 200;
  margin-left: 20px;
  /* border: 1px solid; */
}

.nav-link a h4:hover {
  color: #faac37;
}

.navbar-header-background {
  background-image: url("assets/header-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 1024px;
  /* border: 1px solid red; */
}

/* Header */
.heading-container {
  padding-top: 160px;
  padding-left: 80px;
}

.heading-container h1 {
  color: #fff;
}

.heading-container h2 {
  color: #fff;
  font-size: 25px;
  font-weight: 500;
  width: 400px;
  margin-top: 20px;
  box-shadow: 0px 4px 4px 0px #00000040 inset;
  /* border: 1px solid; */
}

.heading-container button {
  background-color: #000;
  color: #fff;
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  width: 250px;
  position: relative;
  margin-top: 30px;
  cursor: pointer;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.heading-container button:hover {
  border: 1px solid #fff;
}

/* Tentang Kami */
.tentang-kami-container {
  background-image: url("assets/tentang-kami-background2.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-top: 70px;
  padding-bottom: 50px;
  border: none;
}

.tentang-kami-text {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid; */
}

.tentang-kami-text h3,
.tentang-kami-text p {
  color: #fff;
}

.tentang-kami-text h3 {
  font-size: 23px;
}

.tentang-kami-text p {
  font-size: 16px;
}

.tentang-kami-text .left-text {
  width: 380px;
  margin-top: 50px;
  margin-left: 50px;
  /* border: 1px solid; */
}

.tentang-kami-text .left-text p {
  text-align: left;
}

.tentang-kami-text .right-text {
  width: 380px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 75px;
  padding-right: 50px;
}

.tentang-kami-text .right-text p {
  width: 280px;
  text-align: right;
  /* border: 1px solid; */
}

.bottom-text {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 170px;
  /* border: 1px solid; */
}

.bottom-text p {
  width: 500px;
}

/* Produk Kami */
.produk-kami-container {
  background-image: url("assets/produk-kami-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 120px;
  /* height: 1024px; */
}

.produk-kami-heading {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  /* border: 1px solid; */
}

.produk-kami-heading h1 {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
}

.produk-card-container {
  position: relative;
  display: flex;
  justify-content: center;
  /* border: 1px solid red; */
}

.produk-card {
  background-color: #f9f6f61f;
  width: 280px;
  height: 440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  /* border: 1px solid white; */
}

.produk-card img {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  /* border: 1px solid; */
}

.produk-card h3,
.produk-card p {
  color: #fff;
  text-align: center;
  /* border: 1px solid; */
}

.produk-card .top-heading {
  margin-top: 20px;
}

.produk-card p {
  width: 250px;
  height: 74px;
  margin-top: 10px;
  overflow: hidden;
  /* border: 1px solid; */
}

.produk-card .bottom-heading {
  margin-top: 40px;
  margin-bottom: 20px;
}

/* Hubungi Kami */
.hubungi-kami-container {
  background-image: url("assets/hubungi-kami-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 50px;
}

.text-and-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  /* border: 1px solid white; */
}

.text-and-button h1 {
  color: #fff;
  font-size: 30px;
  font-weight: 300;
}

.text-and-button button {
  background-color: #faac37;
  font-weight: 300;
  font-size: 20px;
  width: 200px;
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.text-and-button button:hover {
  background-color: #fff;
  color: #faac37;
  width: 200px;
}

footer {
  background-color: #000;
  width: 100%;
  padding-top: 70px;
  padding-bottom: 70px;
  padding-left: 140px;
  /* border: 1px solid; */
}

.footer-content-container {
  display: flex;
  /* border: 1px solid; */
}

.footer-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* width: 350px; */
  /* border: 1px solid white; */
}

.footer-info p {
  width: 220px;
  /* border: 1px solid; */
  margin-top: 20px;
}

.footer-info h6 {
  /* color: #fff; */
  font-size: 16px;
  font-weight: 300;
  margin-top: 20px;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  padding-left: 80px;
  /* border: 1px solid white; */
}

.footer-nav a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 300;
}

.footer-nav a:hover {
  color: #faac37;
}

.footer-socmed {
  padding-left: 80px;
}

.socmed-icon {
  margin-top: 10px;
}

.socmed-icon a {
  margin-right: 10px;
}

.socmed-icon img {
  height: 20px;
}

.footer-socmed h6 {
  font-size: 16px;
  font-weight: 300;
}

.footer-socmed :nth-child(3) {
  margin-top: 10px;
  /* border: 1px solid white  */
}
